/*  Start Variables */
:root {
  --main-color: #6a59d1;
  --hover-color: #5849ac;
  --secondary-color: #f3f3f3;
  --background-color: white;
  --transition: 0.3s;
  --section-padding: 50px;
}
/*  End Variables */
/*  Start ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b59d189;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}
/*  End ScrollBar */
/*  Start Global Rules  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 97px;
}

/*Small Screens*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium Screens*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Large Screens*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*  End Global Rules  */

/*  Start Components  */
.main-title {
  font-size: 30px;
  margin: 0px auto 80px;
  padding: 10px 20px;
  text-transform: uppercase;
  width: fit-content;
  font-weight: normal;
  color: #333;
  position: relative;
  z-index: 5;
}
.main-title::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 45px;
  top: 0px;
  right: 0;
  border-radius: 20px;
  background-color: var(--main-color);
  transform: skewY(20deg) skewX(50deg);
  -webkit-transform: skewY(20deg) skewX(-50deg);
  -moz-transform: skewY(20deg) skewX(-50deg);
  -ms-transform: skewY(20deg) skewX(-50deg);
  -o-transform: skewY(20deg) skewX(-50deg);
  z-index: -1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.main-title::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 45px;
  top: 0px;
  left: 0;
  border-radius: 20px;
  background-color: var(--main-color);
  transform: skewY(-20deg) skewX(-50deg);
  -webkit-transform: skewY(-20deg) skewX(-50deg);
  -moz-transform: skewY(-20deg) skewX(-50deg);
  -ms-transform: skewY(-20deg) skewX(-50deg);
  -o-transform: skewY(-20deg) skewX(-50deg);
  z-index: -1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.button-bordered {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 12px;
  border: 1px solid var(--main-color);
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  color: var(--main-color);
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  cursor: pointer;
}
.button-bordered:hover {
  background-color: var(--main-color);
  color: white;
}

.button-filled {
  background-color: var(--main-color);
  outline: none;
  border: none;
  padding: 12px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border: 1px solid var(--main-color);
  color: white;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  cursor: pointer;
}
.button-filled:hover {
  background-color: transparent;
  color: var(--main-color);
}
.small-text {
  font-size: 12px;
  font-weight: 500;
}
.padding-full {
  padding: 15px;
}
/*  End Compoments  */

/*  Start Header  */
/* .header {
} */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header .container h2 {
  flex-basis: 50%;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  background-color: #f3ec78;
  background-image: linear-gradient(10deg, #6a59d1, #101011);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.header .container h2::first-letter {
  color: var(--main-color);
}
/*.header .container h2::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: var(--main-color);
  top: -4px;
  left: 0;
}*/
.header .container ul {
  display: flex;
  flex-basis: 50%;
  justify-content: space-evenly;
  align-items: center;
}
.header .container ul > li > a {
  font-size: 15px;
  color: black;
  font-weight: 500;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.header .container ul > li > a:hover {
  color: var(--main-color);
}
.header .container ul > li > a {
  margin: 0px 10px;
}

@media (max-width: 761px) {
  .header .container {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media (max-width: 991px) {
  .header .container ul li .button-bordered {
    display: none;
  }
}
/*  End Header  */
/*  Start Landing  */
.landing {
  height: calc(100vh - 97px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
@media (max-width: 991px) {
  .landing {
    height: auto;
  }
}
/*.landing::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(223, 220, 220);
  z-index: -1;
  transform-origin: top right;
  transform: skewY(-20deg);
  -webkit-transform: skewY(-20deg);
  -moz-transform: skewY(-20deg);
  -ms-transform: skewY(-20deg);
  -o-transform: skewY(-20deg);
}
.landing::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(238, 237, 237);
  z-index: -1;
  transform-origin: top right;
  transform: skewY(20deg);
  -webkit-transform: skewY(20deg);
  -moz-transform: skewY(20deg);
  -ms-transform: skewY(20deg);
  -o-transform: skewY(20deg);
}*/

.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .landing .container {
    flex-direction: column;
    padding: 0;
  }
}
.landing .container .social {
  flex-basis: 5%;
  text-align: center;
}
.landing .container .social i:hover {
  background-color: var(--main-color);
  color: white;
}
.landing .container .social i {
  margin: 10px 0;
  padding: 7px;
  color: var(--main-color);
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--transition) ease;
  -webkit-transition: var(--transition) ease;
  -moz-transition: var(--transition) ease;
  -ms-transition: var(--transition) ease;
  -o-transition: var(--transition) ease;
}
@media (max-width: 991px) {
  .landing .container .social i {
    margin: 0px 10px;
  }
}
.landing .container .text {
  flex-basis: 50%;
  line-height: 2;
}
.landing .container .text h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  position: relative;
  line-height: 1;
}
/* .landing .container .text h1::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 33px;
  bottom: 39px;
  left: 46px;
  background-color: black;
  animation: rotate 6s alternate infinite;
  -webkit-animation: rotate 6s alternate infinite;
}
.landing .container .text h1::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 10px;
  background-color: black;
  top: 34px;
  left: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: letter 6s alternate-reverse infinite;
  -webkit-animation: letter 6s alternate-reverse infinite;
} */
/* .landing .container .text .big {
  display: none;
}
@media (max-width: 991px) {
  .landing .container .text .big {
    display: inline;
  }
  .landing .container .text .small {
    display: none;
  }
  .landing .container .text h1::after {
    display: none;
  }
  .landing .container .text h1::before {
    display: none;
  }
} */

.landing .container .text .role {
  font-size: 20px;
  color: var(--main-color);
  margin-bottom: 15px;
}
.landing .container .text p {
  font-size: 15px;
  color: #777;
  max-width: 500px;
  line-height: 1.7;
}
.landing .container .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}
.landing .container .buttons button:first-of-type {
  display: none;
}

/* .landing .container .text button {
  border: none;
  background-color: var(--main-color);
  padding: 15px;
  color: white;
  border-radius: 10px;
  margin-top: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--transition) ease;
  -webkit-transition: var(--transition) ease;
  -moz-transition: var(--transition) ease;
  -ms-transition: var(--transition) ease;
  -o-transition: var(--transition) ease;
  cursor: pointer;
}
.landing .container .text button:hover {
  background-color: var(--hover-color);
} */
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
    margin-top: 20px;
  }
  .landing .container .text h1 {
    font-size: 30px;
    margin: 5px 0 0 0;
    line-height: 0.8;
  }
  .landing .container .text p {
    margin: auto;
    font-size: 12px;
    line-height: 2;
    padding-right: 25px;
    padding-left: 25px;
  }
  .landing .container .text .role {
    margin: 0 auto 20px;
    /* color: var(--main-color); */
    font-size: 15px;
  }
  /* .landing .container .text button {
    margin: 30px 0;
  } */
  .landing .container .buttons {
    flex-direction: column;
  }
  .landing .container .buttons button:first-of-type {
    display: block;
  }
}

.landing .container .image {
  align-self: center;
  position: relative;
}

.landing .container .image .speak {
  position: absolute;
  width: 240px;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  left: -170px;
  top: -20px;
  animation: speak 1.5s ease;
  -webkit-animation: speak 1.5s ease;
}
@media (max-width: 991px) {
  .landing .container .image {
    order: -1;
    margin: 30px 0;
  }
  .landing .container .image .speak {
    display: none;
  }
}
.landing .container .image .speak::before {
  content: "";
  position: absolute;
  content: "";
  width: 20px;
  height: 30px;
  right: 40px;
  bottom: -10px;
  background-color: var(--secondary-color);
  transform-origin: top left;
  transform: skew(60deg) rotate(48deg);
  -webkit-transform: skew(60deg) rotate(48deg);
  -moz-transform: skew(60deg) rotate(48deg);
  -ms-transform: skew(60deg) rotate(48deg);
  -o-transform: skew(60deg) rotate(48deg);
}
.landing .container .image .speak p:first-child {
  font-size: 11px;
  line-height: 1.7;
}
.landing .container .image .speak p:last-child {
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}

.landing .container .image img {
  width: 350px;
  /* border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; */
  /* outline: 7px solid var(--main-color); */
}

@media (max-width: 991px) {
  .landing .container .image img {
    width: 150px;
    max-width: 100%;
  }
}
.landing .scroll-down p {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  font-size: 12px;
}
.landing .scroll-down a {
  position: absolute;
  bottom: 50px;
  left: 50%;
  color: var(--main-color);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  animation: scroll-down 1.3s infinite alternate;
  -webkit-animation: scroll-down 1.3s infinite alternate;
}
@media (max-width: 991px) {
  .landing .scroll-down {
    display: none;
  }
}
/*  End Landing  */
/*  Start Skills  */
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.skills .container {
  /*display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 40px;**/
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 771px) {
  .skills .container {
    flex-direction: column;
  }
}
.skills .container .column {
  flex: 1;
  margin: 0 15px;
}
.skills .container .column .prog-holder {
  margin-bottom: 20px;
}
.skills .container .column .prog-holder .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills .container .column .prog-holder h4 {
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 5px;
}
.skills .container .column .prog-holder h4:last-child {
  color: var(--main-color);
}
.skills .container .column .prog-holder .prog {
  height: 10px;
  width: 100%;
  background-color: var(--secondary-color);
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.skills .container .column .prog-holder .prog span {
  background-color: var(--main-color);
  height: 10px;
  width: 100%;
  display: block;
  animation: color 2s infinite ease alternate;
  -webkit-animation: color 2s infinite ease alternate;
}
/*  End Skills  */
/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
  margin-bottom: 100px;
}
.features .container .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.features .container .box:hover .icon {
  background-color: transparent;
}
.features .container .box:hover .icon i {
  color: var(--main-color);
}
.features .container .box .icon {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  width: fit-content;
  padding: 15px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
.features .container .box .icon i {
  font-size: 20px;
  color: white;
}
.features .container .box .title {
  /* font-weight: bold; */
}
.features .container .box .description {
  font-size: 12px;
  line-height: 1.4;
  color: #333;
  width: 300px;
  color: var(--main-color);
}
/* End Features */
/*  Start Projects  */
.projects {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-color);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: #6b59d10e;
  z-index: -1;
  transform-origin: top left;
  transform: skewY(-50deg);
  -webkit-transform: skewY(-50deg);
  -moz-transform: skewY(-50deg);
  -ms-transform: skewY(-50deg);
  -o-transform: skewY(-50deg);
}
.projects::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: #6b59d10e;
  z-index: -1;
  transform-origin: top right;
  transform: skewY(-50deg);
  -webkit-transform: skewY(-50deg);
  -moz-transform: skewY(-50deg);
  -ms-transform: skewY(-50deg);
  -o-transform: skewY(-50deg);
}
.projects .shapes i {
  position: absolute;
  bottom: 200px;
  right: 360px;
  color: #6b59d106;
  font-size: 200px;
  z-index: -1;
}
.projects .shapes i:nth-child(2) {
  bottom: 300px;
  left: 40px;
}

.projects .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.projects .container .card {
  box-shadow: 0px 2px 10px rgb(0, 0, 0, 10%);
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: white;
  text-align: left;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.projects .container .card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.projects .container .card img {
  max-width: 100%;
}

.projects .container .card h2 {
  padding: 5px 20px 0 20px;
  margin: 20px 0 7px;
  font-size: 20px;
  color: var(--main-color);
}
.projects .container .card p {
  padding: 5px 20px 0 20px;
  line-height: 1.5;
  font-size: 15px;
  color: #777;
  height: 130px;
  overflow-y: auto;
}
.projects .container .card .footer {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #eee;
}
.projects .container .card .tech {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-wrap: wrap;
  flex-basis: 45%;
  gap: 5px;
}
.projects .container .card .tech span {
  background-color: #99a3ad9f;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: white;
  font-size: 12px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.projects .container .card .links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card .links .source {
  background-color: white !important;
  border: 1px solid #24292edb !important;
  color: #24292edb !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.card .links .source:hover {
  background-color: #24292edb !important;
  color: white !important;
}
.card .links .source.disabled {
  position: relative;
  pointer-events: none;
  user-select: none;
  background-color: #2b31373d !important;
  border: transparent !important;
  color: white !important;
}
.card .links .source.disabled::after {
  content: "\f023";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  pointer-events: none;
  background-color: #2d2d2e29;
  font-size: 13px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
}
.projects .container .card a {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  padding: 10px;
  border-radius: 50px;
  font-size: 12px;
  background-color: var(--main-color);
  border: 1px solid transparent;
  color: white;
  flex: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.container .card a:hover {
  background-color: white;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
/*  End Projects  */
/* Start Contact */
.contact .container {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .container div.text {
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

.contact .container .text h1 {
  font-weight: 200;
  font-size: 45px;
  color: var(--main-color);
  line-height: 0;
}

.contact .container div label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  color: var(--main-color);
}
.contact .container div input {
  width: 100%;
  padding: 15px;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact .container div textarea {
  width: 100%;
  resize: none;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  padding: 15px;
  border-radius: 10px;
}
.contact .container .button {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 15px;
}
/* .contact .container .button button {
  border: none;
  background-color: var(--main-color);
  padding: 15px;
  color: white;
  border-radius: 10px;
  margin-top: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--transition) ease;
  -webkit-transition: var(--transition) ease;
  -moz-transition: var(--transition) ease;
  -ms-transition: var(--transition) ease;
  -o-transition: var(--transition) ease;
  cursor: pointer;
}

.contact .container .button button:hover {
  background-color: var(--hover-color);
} */
/* End Contact */
/* Start Footer */
.footer {
  background-color: #2b3137;
}
.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.footer .container p {
  color: white;
}
.footer .container span {
  font-size: 12px;
  color: var(--main-color);
}
.footer .container .social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.footer .container .social i {
  color: white;
  padding: 5px;
  transition: all 0.3s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.footer .container .social i:hover {
  background-color: var(--main-color);
}
/* End Footer */
/* Scroll Up Button */
#scrollUpBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #6b59d175;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#scrollUpBtn:hover {
  background-color: #5244a075;
}

/* End Scroll Up Button */
/*  Start Animations  */
@keyframes speak {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll-down {
  0%,
  1%,
  20%,
  40%,
  60%,
  80%,
  100% {
    bottom: 60px;
  }
  50%,
  70% {
    bottom: 50px;
  }
}
@keyframes letter {
  0% {
    border-radius: 30px;
    width: 100px;
    height: 30px;
    opacity: 0.2;
    background-color: #6a59d1;
    transform: translate(-47px, -24px);
    -webkit-transform: translate(-47px, -24px);
    -moz-transform: translate(-47px, -24px);
    -ms-transform: translate(-47px, -24px);
    -o-transform: translate(-47px, -24px);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  50% {
    transform: translate(356px, -24px);
    -webkit-transform: translate(356px, -24px);
    -moz-transform: translate(356px, -24px);
    -ms-transform: translate(356px, -24px);
    -o-transform: translate(356px, -24px);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  70% {
    transform: translate(0px, -24px);
    -webkit-transform: translate(0px, -24px);
    -moz-transform: translate(0px, -24px);
    -ms-transform: translate(0px, -24px);
    -o-transform: translate(0px, -24px);
    background-color: #5849ac;
  }
  80% {
    transform: translate(0px, 7px);
    -webkit-transform: translate(0px, 7px);
    -moz-transform: translate(0px, 7px);
    -ms-transform: translate(0px, 7px);
    -o-transform: translate(0px, 7px);
  }
  100% {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
  }
}
@keyframes rotate {
  0% {
    background-color: #6a59d1;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  80% {
    background-color: black;
    transform: rotate(10deg) translate(0px, 20px);
    -webkit-transform: rotate(10deg) translate(0px, 20px);
    -moz-transform: rotate(10deg) translate(0px, 20px);
    -ms-transform: rotate(10deg) translate(0px, 20px);
    -o-transform: rotate(10deg) translate(0px, 20px);
  }
  95% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
  }
}
/*  End Animations  */
